#t{color: black;
background-color: bisque;}
#tr{color:white}
#h{color: white;)
    
    
    padding: 50px; margin-left: 100px;


margin-left: 650px;
font-size:xx-large;}
div{margin-left: 500px;
margin-bottom: 200px;
font-size:xx-large;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
body{color: antiquewhite;
background-color:aquamarine;}
