








div{
    color: rgb(4, 11, 11);
    height: 60px;
    background-color: rgb(141, 141, 166);
    background-size: 100%;
}

ul li{
    display: inline-block;margin-top: 0.5cm;
}

#l1 {margin-left: 300px;}
#l2 {margin-left: 100px;}
#l3 {margin-left: 100px;}
#l4 {margin-left: 100px;}

body{background-image:url(./imagesroshan/charles-deloye-2RouMSg9Rnw-unsplash.jpg);background-repeat: no-repeat;background-size:100%;}
h1{text-align: center; }
