#head{text-align:center ;}
#d{margin-left: 600px;
    color:white;
    width: 200px;
    height: 100x;
    background-image: url(./adrien-olichon-RCAhiGJsUUE-unsplash.jpg);
    
}
#e{background-image: url(./drew-beamer-kUHfMW8awpE-unsplash.jpg);}