#a{
    color: aliceblue;
    text-align: center;
}
body{
    background-image: url(./446443.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#ul li{
    display: inline-block;
    margin: 25px;
    font-size: x-large;
}
#ul{
    background-color: rgba(8, 135, 135, 0.562);
    
    background-size: 100%;
    
    margin-top: -15px ;
    

}
#reg{
    padding-left: 570px;
    margin-left: 5cm;
}
#img{
    height: 15cm;
    width: 25cm;
    margin-left: 10cm;
}
#g{
    color: rgb(16, 168, 49);
}