#new{
    height: 16cm;
    width: 15cm;
    background-color:antiquewhite;
    text-align:center;
    margin-left: 13cm;
    margin-top: 1cm;
    padding: 20px;
}
body{
    background-image: url(./images/janko-ferlic-sfL_QOnmy00-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#h{
    height: 1cm;
    width: 5cm;
    margin-top: 1cm;
}
#table{
    margin-left: 2cm;
}
#back{
    margin-top: 1cm;
    margin-left: 1cm;
}

