body{
    background-image: url(./Innovative-High-Schools_005.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#table{
    padding-left: 40px;
}
div{
    height: 10cm;
    width: 19cm;
    
    background-color: rgba(247, 246, 246, 0.785);
    text-align: center;
    margin-left: 14cm;
    margin-top: 3cm;
}
#b{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin-bottom: 1cm;
}
#a{padding-left:150 px;
padding-top: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#c{margin-right: 1cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: large;
text-align: left;
margin-left: 1cm;}
#d{margin-right: 1cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: large;
text-align: left;
margin-left: 1cm;}
#i{
    color: rgb(14, 167, 75);
}